@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "borda-700";
  src: url("../assets/fonts/borda_bold-webfont.woff") format("woff2"),
    url("../assets/fonts/borda_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "borda-500";
  src: url("../assets/fonts/borda_demibold-webfont.woff2") format("woff2"),
    url("../assets/fonts/borda_demibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "borda-900";
  src: url("../assets/fonts/borda_extrabold-webfont.woff2") format("woff2"),
    url("../assets/fonts/borda_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "borda-100";
  src: url("../assets/fonts/borda_light-webfont.woff2") format("woff2"),
    url("../assets/fonts/borda_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "borda-400";
  src: url("../assets/fonts/borda_medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/borda_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "borda-300";
  src: url("../assets/fonts/borda_regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/borda_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*sets universal values*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "borda-400", "Plus Jakarta Sans", sans-serif;
}

:root {
  --color-accent: #ff6a13;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "borda-500", "Plus Jakarta Sans", sans-serif;
}

#root {
  background-image: url("../assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-style {
  border-radius: 30%;
}

.accent {
  color: var(--color-accent);
}

.glow-red {
  box-shadow: 0px 1px 15px #ff3f3f;
}

.glow-blue {
  box-shadow: 0px 1px 15px #4d9fff;
}
