:root {
  --clr-border: #ff6a13;
  --AnimationLength: 0px;
}

.bg-btn {
  background: url("../assets/images/btn2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hover\:bg-btn-h:hover {
  background: url("../assets/images/btn-hover.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
 }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 30px;
  height: 30px; */
  font-size: 2em;

  line-height: 1;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-repeat: no-repeat;
}

.box-e {
  background-image: linear-gradient(
      0deg,
      var(--clr-border),
      var(--clr-border) 25%,
      transparent 25%,
      transparent 75%,
      var(--clr-border) 75%
    ),
    linear-gradient(
      90deg,
      var(--clr-border),
      var(--clr-border) 25%,
      transparent 25%,
      transparent 75%,
      var(--clr-border) 75%
    ),
    linear-gradient(
      180deg,
      var(--clr-border),
      var(--clr-border) 25%,
      transparent 25%,
      transparent 75%,
      var(--clr-border) 75%
    ),
    linear-gradient(
      270deg,
      var(--clr-border),
      var(--clr-border) 25%,
      transparent 25%,
      transparent 75%,
      var(--clr-border) 75%
    );
}

.bg-icon {
  background: #ff6a131f;
}
