.form {
  max-width: 30rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formLabel {
  margin-bottom: 0.25rem;
}

.formField {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #3d3d3d;
  color: #e0e0e0;
}
.player{
    color: #ff6a13;
}

.formFieldError {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fa2654;
  color: #ff6a13;
}

.formFieldErrorMessage {
  color: #fa2654;
  font-size: 0.8rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
}

.formSubmitBtn {
  padding: 0.5rem 0.7rem;
  min-width: 5rem;
  background-color: #9333ea;
  color: #f3e8ff;
  text-transform: uppercase;
  font-weight: 500;
}

.bg-modal {
  background-image: url("../assets/images/bg-modal.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-modal-login {
  background: url("../assets/images/modal-login.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  max-height: 40rem;
  max-width: 30rem;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus {
  outline: 0px solid transparent;
  outline-offset: 0px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #f2d91c00;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #ff6a13;
}

.btn-outsider {
   border-radius: 10px;
}
.btn-outsider:hover {
   
  box-shadow: 0px 1px 8px 0.5px #fb7d33, inset 0px 0px 3px #ff7829;
  border-radius: 10px;
  background-color: #fc6b1826;
}
